<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    
</head>
<body>
    


    <div class="layout-container">
        <!-- Sidebar -->
        <div class="layout-sidebar">
            <div class="sidebar-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Techna Logo">
                <h1>Techna</h1>
            </div>
            <ul class="sidebar-nav-links">
                
                {% set homeCss = url_for('static', filename="css/home.css") %}
                {% set profileCss = url_for('static', filename="css/profile.css") %}
                {% set profileJs = url_for('static', filename="js/profile.js") %}

                <li onclick="Changehtml('home','{{homeCss}}')">Home</li>
                
                <li onclick="Changehtml('profile','{{profileCss}}','{{profileJs}}')">Profile</li>
                
                
                <li><a href="#">Search</a></li>
                <li><a href="#">Your Library</a></li>
            </ul>
            <div class="sidebar-playlists">
                <h3>Playlists</h3>
                <ul>
                    <li><a href="#">Hardcore Beats</a></li>
                    <li><a href="#">Dark Techno</a></li>
                    <li><a href="#">Underground Vibes</a></li>
                </ul>
            </div>
        </div>

        <!-- Main Content -->
        <div id="layout-main-content" class="layout-main-content">
            
        </div>
    </div>

    <!-- Footer -->
    <div class="layout-footer">
        <div class="footer-now-playing">
            <img src="{{ url_for('static', filename='images/album.jpg') }}" alt="Album Art">
            <div class="footer-song-info">
                <h4>Song Title</h4>
                <p>Artist Name</p>
            </div>
        </div>
        <div class="footer-controls">
            <button>⏮</button>
            <button id ="play-stop-btn" onclick="StopPlay()">⏯</button>
            <button>⏭</button>
            <audio id="song-audio" src=""></audio>
        </div>
        <div class="footer-volume">
            <label for="volume">Volume</label>
            <input type="range" id="volume" min="0" max="100">
        </div>
    </div>

    <!--<script src="{{ url_for('static', filename='js/profile.js') }}"></script> -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">  -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">   -->
    <!--<script src="{{ url_for('static', filename='js/edit_profile.js') }}"></script>-->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}"> -->
    
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="./js/base.js"></script>
</body>
</html>