{% extends "base.html" %}

{% block title %}Profile - Techna{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">      
{% endblock %}

{% block libary %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>      
{% endblock %} 

{% block content %}
<div class="profile-container">
    <!-- Profile Header Section -->
    <div class="profile-header">
        <div class="profile-pic">
            <img id="profile-pic" src="profile-pic.jpg" alt="Profile Picture" />
        </div>
        <div class="artist-info">
            <h1 class="artist-name">{{ current_user.id }}</h1>
            <p id="artist-bio" class="artist-bio">Short bio about the artist.</p>
            <p class="followers-count">Followers: <span id="followers-count">{{ current_user.followers }}</span></p>
            <a href="{{ url_for('edit_profile') }}" class="edit-profile-link">Edit Profile</a>
        </div>
    </div>

    <!-- Albums Section -->
    <div class="albums-section">
        <h2>Albums</h2>
        <div class="album-list">
            <div class="album">
                <img src="album1.jpg" alt="Album 1" />
                <h3>Album Name 1</h3>
                <p>Release Year: 2021</p>
            </div>
            <div class="album">
                <img src="album2.jpg" alt="Album 2" />
                <h3>Album Name 2</h3>
                <p>Release Year: 2019</p>
            </div>
        </div>
    </div>

    <!-- Singles Section -->
    <div class="singles-section">
        <h2>Singles</h2>
        <div class="single-list">
            {% for song in range(singles_len) %}
            <div id="single-{{ loop.index }}" class="single">
                <img id="single-{{ loop.index }}-img" class="single-cover" src="single-cover.jpg" alt="Single Cover" />
                <h3 id="single-{{ loop.index }}-title" class="single-title">Title</h3>
                <p id="single-{{ loop.index }}-date" class="single-date">Release Year</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% block script %}

<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}


{% endblock %}


</html>